<div id="bg">

<nav class="navbar">
    <div class="containerr">
      <div class="navbar-brand">
        <span>Flight Management System</span>
      </div>
      <div class="nav-actions">
        <span class="nav-item" (click)="aboutUs()">About US</span>
        <span class="nav-item" (click)="contactUs()">Contact US</span>
        <span class="nav-item" (click)="signup()">SignUp</span>
      </div>
    </div>
  </nav>

  <div class="contact-card">
    <div class="contact-info">
        <div class="contact-details">
            <h1>SKY TRACK</h1>
          
            
        </div>
    </div>
</div>
</div>

