<div id="bg">
    <div class="contact-us-container">
    
        <h2>About Us</h2>
    
        <div class="contact-card">
            <div class="contact-info">
                <div class="contact-details">
                    <h3>SkyTrack</h3>
                  
                    <p><strong>Welcome to SkyTrack, your premier flight management system. At SkyTrack, we streamline your air travel experience with state-of-the-art technology and unparalleled service. Our mission is to provide efficient, reliable, and user-friendly solutions for airlines and passengers alike.</strong></p>
                    <br>
                    <p>Join us in revolutionizing the skies, one flight at a time. Thank you for choosing SkyTrack for your flight management needs. Safe travels!</p>
                    
                </div>
            </div>
        </div>
    
