<div id="bg">
    <div class="contact-us-container">
    
        <h2>Contact Us</h2>
    
        <div class="contact-card">
            <div class="contact-info">
                <div class="contact-details">
                    <h3>Flight Management System</h3>
                    <p><strong>Mobile: 9876543210</strong></p>
                    <p><strong>Email: flightreservationsystem2002&#64;gmail.com</strong></p>
                    <p><strong> www.flyhigh.com</strong></p>
                </div>
            </div>
        </div>
    
     
       
    </div>
    </div>
